<a href="https://colab.research.google.com/github/jesusigarmor/inferencia_estadistica_24/blob/main/Tarea1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Inferencia Estadistica
## Tarea 1
## Isaias Jesus Garcia Moreno
## 179474

In [3]:
import pandas as pd

In [5]:
df_imdb = pd.read_excel("/content/movies.xlsx")
print(df_imdb)

                                           Title  Rating  Year     Month  \
0                       Avatar: The Way of Water     7.8  2022  December
1                 Guillermo del Toro's Pinocchio     7.6  2022  December
2                                   Bullet Train     7.3  2022    August
3                      The Banshees of Inisherin     7.8  2022  November
4                                          M3gan     6.4  2022  December
...                                          ...     ...   ...       ...
1995                       A Tale of Two Sisters     7.1  2003      June
1996  Lara Croft Tomb Raider: The Cradle of Life     5.5  2003      July
1997                                     Gothika     5.8  2003  November
1998                   Ong-Bak: The Thai Warrior     7.1  2003  February
1999                                  Open Water     5.8  2003    August

     Certificate Runtime                           Directors  \
0          PG-13     192                       James Cameron
1             PG     117  Guillermo del Toro, Mark Gustafson
2              R     127                        David Leitch
3              R     114                     Martin McDonagh
4          PG-13     102                    Gerard Johnstone
...          ...     ...                                 ...
1995           R     114                        Jee woon Kim
1996       PG-13     117                         Jan de Bont
1997           R      98                   Mathieu Kassovitz
1998           R     105                     Prachya Pinkaew
1999           R      79                        Chris Kentis

                                                  Stars  \
0     Sam Worthington, Zoe Saldana, Sigourney Weaver...
1     Ewan McGregor, David Bradley, Gregory Mann, Bu...
2     Brad Pitt, Joey King, Aaron Taylor Johnson, Br...
3     Colin Farrell, Brendan Gleeson, Kerry Condon, ...
4     Jenna Davis, Amie Donald, Allison Williams, Vi...
...                                                 ...
1995  Lim Soo jung, Yum Jung ah, Kim Kap su, Moon Ge...
1996  Angelina Jolie, Gerard Butler, Chris Barrie, C...
1997  Halle Berry, Pen lope Cruz, Robert Downey Jr ,...
1998  Tony Jaa, Phetthai Vongkumlao, Pumwaree Yodkam...
1999  Blanchard Ryan, Daniel Travis, Saul Stein, Mic...

                           Genre Filming_location     Budget        Income  \
0     Action, Adventure, Fantasy      New Zealand  350000000  2.267947e+09
1       Animation, Drama, Family              USA   35000000  1.089670e+05
2       Action, Comedy, Thriller            Japan   85900000  2.392686e+08
3                  Comedy, Drama          Ireland        NaN  1.972082e+07
4       Horror, Sci-Fi, Thriller      New Zealand   12000000  1.712539e+08
...                          ...              ...        ...           ...
1995      Drama, Horror, Mystery      South Korea        NaN  1.062878e+06
1996  Action, Adventure, Fantasy           Greece   95000000  1.600992e+08
1997   Horror, Mystery, Thriller           Canada   40000000  1.415913e+08
1998     Action, Crime, Thriller         Thailand        NaN  2.023543e+07
1999    Adventure, Drama, Horror          Bahamas     500000  5.468349e+07

           Revenue                                  Country_of_origin
0     1.917947e+09                                      United States
1    -3.489103e+07                      United States, Mexico, France
2     1.533686e+08                               Japan, United States
3              NaN             Ireland, United Kingdom, United States
4     1.592539e+08                                      United States
...            ...                                                ...
1995           NaN                                        South Korea
1996  6.509922e+07  United States, Germany, Japan, United Kingdom,...
1997  1.015913e+08               United States, France, Canada, Spain
1998           NaN                        Thailand, France, Hong Kong
1999  5.418349e+07                                      United States

[2000 rows x 14 columns]

### Ejercicio 1

a) Para cada una de las variables en la tabla proporciona su tipo de dato y escala
de medici√≥n.

| Variable | Tipo | Escala |
| :-------: | :---:| :-----: |
|Title | Cualitativa | Etiqueta |
|Rating | Cuantitativa |  
|Year |
|Month |
|Certificate |
|Runtime |
|Directors |
|Stars |
|Genre |
|Filming_location |
|Budget |
|Income |
|Revenue |
|Country_of_origin |